/BetterDiscord Installer/
/Code - OSS/
/BetterDiscord/
/Deepl-Linux-Electron/
/GitKraken/
/Insomnia/
/MongoDB Compass/
/Postman/
/QtProject.conf
/VSCodium/
/alacritty/
/cef_user_data/
/configstore/
/dconf/
/discord/
/Code/
/dunst/
/config
/google-chrome-unstable/
/gtk-2.0/
/gtk-3.0/
/fish/
/goneovim/
/libfm/
/libreoffice/
/litecli/
/lutris/
/menus/
/mimeapps.list
/nautilus/
/neofetch/
/nextjs-nodejs/
/nvim-qt/
/htop/
/omf/
/pcmanfm/
/mpv/
/scummvm/
/spicetify/
/spotifyd/
/unity3d/
/vlc/
/wal/
/yarn/
/users-dirs.dirs
/user-dirs.locale
/user-dirs.dirs
/teams/
/sqls/
/spotify/
/pulse/
/.vimrc
/i3/
/xmonad/build-x86_64-linux/*.o
/xmonad/xmonad-x86_64-linux
/xmonad/build-x86_64-linux/Main.hi
/xmonad/xmonad.errors
/xmonad/xmobar/
/emacs/projects
/emacs/recentf
/emacs/auto-save-list/
/emacs/elpa/
/emacs/eshell/
/emacs/games/
/emacs/.lsp-session-v1
/emacs/.org-id-locations
/emacs/lisp/rainbow-delimiters.elc
/emacs/projectile-bookmarks.eld
/emacs/timelog
/emacs/transient/
/emacs/themes/*.el
